.menu {

  &__list {
    display: grid;
    row-gap: 13px;
    padding: 0;
    background-color: #fff;

    @media (min-width: 992px) {
      grid-auto-flow: column;
      column-gap: 20px;
    }

    @media (min-width: $lg) {
      column-gap: 30px;
    }
  }

  &__item {
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    transition: color 0.3s;
    cursor: pointer;

    @media (min-width: 992px) {
      font-size: 16px;
    }

    &:hover,
    &:active {
      color: $gold;
    }
  }

  &__link {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
    
    &:hover,
    &:active {
      color: $gold;
    }
  }

  &__link--active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      height: 3px;
      background-color: $gold;

      @media (min-width: $lg) {
        bottom: -7px;
      }
    }
  }

  &__sublist {
    display: none;
    row-gap: 10px;
    padding: 0;
    padding: 10px 20px;
    background-color: #fff;

    @media (min-width: 992px) {
      position: absolute;
      top: 10px;
      left: -30px;
      z-index: -1;
      grid-template-columns: max-content;
      row-gap: 13px;
      padding: 30px;
      padding-top: 50px;
    }
  }

  &__sublist--open {
    display: grid;
  }

  &__item:hover &__sublist {

    @media (min-width: $lg) {
      display: grid;
    }
  }

  &__item:hover &__link {
    color: $gold;
  }

  &__sublist-item {
    font-weight: 600;
    font-size: 18px;
    color: #000;

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }

  &__sublist-link {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;

    &:hover,
    &:active {
      color: $gold;
    }
  }

  &__sublist-link--active {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 3px;
      background-color: $gold;
    }
  }
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)!important; 
}