$sm: 576px;
$md: 768px;
$lg: 1200px;
$xl: 1600px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// COLORS
$gold: #F28E20;
$blue: #134382;
$darkblue: #2c364a;
$green: #002D29;
$lightgreen: #535C5B;
$gray: #EDF3F3;