.bonus {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  display: none;
  grid-template-columns: 1fr 70px;
  background-color: #d34085;
  animation-name: fade-in-bottom;
  animation-duration: 0.3s;
  
  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr 60px;
    height: 60px;
    padding-left: 20px;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 75px;
    height: 70px;
    padding-left: 40px;
  }

  @media (min-width: $xl) {
    grid-template-columns: 1fr 2fr 75px;
  }

  &__item {
    display: grid;
    align-items: center;
    padding: 20px 0;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: left 50%;
    text-decoration: none;
    outline: none;

    @media (min-width: $md) {
      padding: 0;
      font-size: 13px;
    }

    @media (min-width: 992px) {
      font-size: 14px;
    }

    &--our-project {
      display: none;
      align-content: center;
      padding-left: 40px;
      background-image: url('../img/travokosovv.png');
      background-size: 30px 30px;
      transition: color 0.3s;

      @media (min-width: $md) {
        display: grid;
        padding-left: 50px;
        background-size: 40px 40px;
      }

      @media (min-width: 992px) {
        padding-left: 60px;
        background-size: 50px 50px;
      }

      &:hover,
      &:active {
        color: $blue;
      }
    }

    &--bonus {
      grid-auto-flow: column;
      grid-template-columns: min-content auto;
      padding-left: 20px;
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;
      background-color: rgba(0, 0, 0, 0.1);
      text-align: left;
      transition: background-color 0.3s;

      @media (min-width: $md) {
        grid-row-start: auto;
      }

      &:hover,
      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__item-icon {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url('../img/gift.svg');
    background-size: 100% 100%;

    &::after {
      content: '1';
      position: absolute;
      top: -4px;
      left: 9px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ed0000;
      font-weight: bold;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      color: #fff;
    }
  }

  &__item-info {
    font-size: 8px;
    text-transform: uppercase;

    @media (min-width: $md) {
      font-size: 10px;
    }
  }

  &__button {
    position: relative;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    outline: none;

    &:hover,
    &:active {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #fff;

      @media (min-width: $lg) {
        width: 25px;
      }
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.modal-bonus {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  @media (min-width: 992px) {
    grid-template-columns: 1.3fr 1fr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  }

  @media (min-width: $lg) {
    width: 850px;
  }

  &__figure {
    height: 275px;

    @media (min-width: $md) {
      height: 350px;
    }

    @media (min-width: 992px) {
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 30px;

    @media (min-width: $md) {
      padding: 40px;
    }

    @media (min-width: 992px) {
      padding-top: 90px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }

  &__content p {
    font-weight: 600;
  }

  &__content p b {
    border-bottom: 2px solid $gold;
  }

  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
  }

  &__close {
    display: grid;
    place-items: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: #d34085;
    transition: background-color 0.3s;

    &:hover,
    &:active {
      background-color: #b1135c;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #fff;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}